<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Demo_Website</title>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/site.css" />
		<link rel="icon" href="favicon.ico" type="image/x-icon" sizes="16x16 32x32 48x48 64x64 128x128 152x152" />
		<link rel="shortcut icon" href="favicon.ico" />
		<link href="~/fontawesome/css/all.css" rel="stylesheet">
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
<body>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-page="/Index" class="navbar-brand">Demo_Website</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav nav-horizontal">
					<li id="navitem_1" class="navbar-item"><a asp-page="/Index" class="navbar-itemlink">Home</a></li>
					<li id="navitem_2" class="navbar-item navbar-collapsed" onmouseover="AddExpandedClass();" onmouseout="RemoveExpandedClass();"><a asp-page="/About" class="navbar-itemlink">About</a><span class="navbar-expandbutton" id="navitem_expcolbtn1" onclick="AddExpandedClass()" ><i id="navitem_expcolbtnicon1" class="fas fa-angle-down"></i></span>
                    <ul class="nav-vertical">
                        <li id="navitem_2_1" class="navbar-item"><a asp-page="/Contributors" class="navbar-itemlink">Contributors</a></li>
                        <li id="navitem_2_2" class="navbar-item"><a asp-page="/Mission" class="navbar-itemlink">Mission</a></li>
                    </ul>
                    </li>
					<li id="navitem_3" class="navbar-item"><a asp-page="/Contact" class="navbar-itemlink">Contact</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	<div class="container body-content">
		@RenderBody()
	</div>

	<footer class="footerbar">
		<span class="footerbar-text">
			<p>&copy; 2019 - Demo_Website</p>
		</span>
	</footer>

	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
		</script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)
</body>
</html>
