/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 50px;
    min-height: calc(100vh - 112px);
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Footer CSS*/
.footerbar {
    width: 100%;
    background-color: #222222;
    border: solid 1px #222222;
    box-shadow: 0px 0px 3px #222222;
}

    .footerbar .footerbar-text {
        color: #ffffff;
        padding: 15px;
        display: inline-block;
    }

    /* Navbar CSS */

    .navbar .nav-vertical {
        display: none;
        z-index: 11;
        position: absolute;
        list-style: none;
        background-color: #d9d9d9;
        padding: 0px;
        border: solid 1px #d9d9d9;
        box-shadow: 1px 2px 5px #a0a0a0;
    }

    .navbar .nav-horizontal .navbar-item:hover .nav-vertical
    {
        display: block;
    }

    .navbar .nav-vertical .navbar-itemlink
    {
        color: #222222;
        padding: 5px 20px;
        display: block;
        padding-left: 10px;
        text-decoration: none !important;
    }

    .navbar .nav-vertical .navbar-item:hover
    {
        background-color: #a0a0a0;
        text-decoration: none;
    }

    .navbar .nav-horizontal .navbar-expanded
    {
        background-color: #989898;
    }

    .navbar .nav-horizontal .navbar-expanded > .navbar-itemlink
    {
        color: #ffffff;
    }

    .navbar-expandbutton
    {
        display: none;
    }


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }

    .navbar .navbar-collapsed .navbar-itemlink,
    .navbar .navbar-expanded .navbar-itemlink 
    {
        width: 90%;
        display: inline-block;
    }

    .navbar-expandbutton
    {
        display: inline-block;
        height: 40px;
        width: 10%;
        vertical-align: middle;
        text-align: center;
        padding: 10px;
    }

    .navbar .nav-vertical {
        position: relative;
    }

    .navbar .navbar-collapsed .nav-vertical
    {
        display: none !important;
    }
}
